body{
    background-color: antiquewhite;
}

h1{
    color: #ff00ff;
    text-align: center;
}

.naslov{
    font-family: sans-serif;
}

#sadrzaj p{
    line-height: 2rem;

    color: blue;
}

ul{
    list-style: none;
}

ul li::before{
    content: '👌'
}
ol{
    list-style-type: upper-roman;
}
mark {
  background-color: #0eeafe; /* žuta pozadina */
  color: #1f1f1d;             /* crni tekst */
  padding: 0.2em 0.4em;    /* malo unutarnjeg razmaka */
  border-radius: 0.2em;    /* zaobljeni rubovi */
  font-weight: bold;       /* podebljani tekst */
}