body{
    background-color: rgb(12, 194, 235);
}
h1 {
    text-align: center;
  color: rgb(194, 243, 16);
}
h2 {
    text-align: center;
  color: rgb(243, 179, 16);
}
h3 {
    text-align: center;
  color: rgb(243, 16, 69);
}